services:
  api:
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000 --reload
    restart: "no"
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    volumes:
      - ./src:/app/src
      - ./data:/app/data

  bot:
    restart: "no"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./src/bot:/app/src/bot