services:
  api:
    build:
      context: .
      dockerfile: src/api/Dockerfile
    container_name: medical_api
    ports:
      - "8000:8000"
    environment:
      - SAVED_MODEL_PATH=/app/saved_model
      - SAVED_DATASET_QA_PATH=/app/ds_qa
    volumes:
      - ./data/saved_model:/app/saved_model:ro
      - ./data/ds_qa:/app/ds_qa
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/docs')"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 1200s

  bot:
    build:
      context: .
      dockerfile: src/bot/Dockerfile  
    container_name: medical_bot
    environment:
      - API_URL=http://api:8000
    env_file:
      - .env
    depends_on:
      # api:
      #   condition: service_healthy
      - api
    restart: unless-stopped